Web References/AuthServiceRef/AuthUtilityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cse445.memberA" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cse445.memberA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cse445.memberA">
      <s:element name="CheckStrength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckStrengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckStrengthResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckStrengthSoapIn">
    <wsdl:part name="parameters" element="tns:CheckStrength" />
  </wsdl:message>
  <wsdl:message name="CheckStrengthSoapOut">
    <wsdl:part name="parameters" element="tns:CheckStrengthResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthUtilityServiceSoap">
    <wsdl:operation name="CheckStrength">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a password‑strength score 0–5</wsdl:documentation>
      <wsdl:input message="tns:CheckStrengthSoapIn" />
      <wsdl:output message="tns:CheckStrengthSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthUtilityServiceSoap" type="tns:AuthUtilityServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckStrength">
      <soap:operation soapAction="http://cse445.memberA/CheckStrength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthUtilityServiceSoap12" type="tns:AuthUtilityServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckStrength">
      <soap12:operation soapAction="http://cse445.memberA/CheckStrength" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthUtilityService">
    <wsdl:port name="AuthUtilityServiceSoap" binding="tns:AuthUtilityServiceSoap">
      <soap:address location="https://localhost:44377/AuthUtilityService.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthUtilityServiceSoap12" binding="tns:AuthUtilityServiceSoap12">
      <soap12:address location="https://localhost:44377/AuthUtilityService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>